altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
dlib @ file:///C:/Users/vci/Downloads/dlib-19.24.99-cp312-cp312-win_amd64.whl#sha256=20c62e606ca4c9961305f7be3d03990380d3e6c17f8d27798996e97a73271862
et_xmlfile
face-recognition
face_recognition_models
Flask
fonttools
gitdb
GitPython
idna
itsdangerous
Jinja
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
opencv-python
openpyxl
packaging
pandas
patsy
pillow
plotly
plotly-express
protobuf
pyarrow
pydeck
Pygments
PyMySQL
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scipy
seaborn
setuptools
six
smmap
statsmodels
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
uv
watchdog
Werkzeug
